/*article {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
	line-height: 1.4em;
}
*/
.docs-attr-name {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

code {
	font-size: 12px;
}

article table {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

/* blog */

.page-container[data-doctype="Blog Post"], .page-container[data-path="blog"] {
	max-width: 660px;
	margin: auto;
}

@media (max-width: 767px) {
	.page-container[data-doctype="Blog Post"] {
		padding-top: 0px;
	}
}

.page-container[data-doctype="Blog Post"] .page-header-block,
.blog-info {
	text-align: center;
}

.blog-text {
	font-size: 18px;
	line-height: 1.5;
}

body[data-path^="blog"] .page-head {
	display: none;
}

body[data-path="blog"] .content-block {
	border-top: 1px solid #d1d8dd;
}

body[data-path="blog"] .web-list-item .blog-header {
	font-size: 1.6em;
}

.content-block {
	padding: 15px;
	padding-top: 0px;
}

figcaption {
	text-align: center;
}

.page-container[data-path="blog"]
.page-content-wrapper > .row:first-of-type > .col-sm-8 {
	width: 100%;
}

#page-story .page-content-wrapper,
#page-jobs .page-content-wrapper {
	max-width: 660px;
	margin: auto;

	font-size: 18px;
	line-height: 1.5;

}

.team-description img {
	border-radius: 3px;
	width: 100%;
	max-width: 300px;
}

@media (max-width: 767px) {
	.contact .address {
		padding-top: 70px;
	}

	.team-description .tiny-content {
		margin-bottom: 80px;
	}
}

