<div class="nav-bar">
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <a href="/" class="brand">
                    <!-- <img src="/assets/frappe_theme/img/book.svg"
                        style="height: 50px; width: 50px; margin-top: -10px;"></img> -->
                    Frappé Framework</a>
            </div>
            <ul class="col-xs-8 links">
                <li><a href="/tutorial">Tutorial</a></li>
                <li><a href="/help">Help</a></li>
                <li><a href="https://docs.frappe.io">Reference</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="clearfix"></div>
