{% extends "templates/base.html" %}
{% block title %}Frappe: Frameworks + Apps{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="charts/assets/css/reset.css" media="screen">
<link rel="stylesheet" type="text/css" href="charts/assets/css/index.css" media="screen">
<link rel="stylesheet" type="text/css" href="charts/assets/css/hljs.css" media="screen">

<script src="charts/assets/js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<header>
	<section class="section-padding text-center px-3">
		<h1>Frappe Charts</h1>
		<p class="lead lead-max m-auto text-muted">
				GitHub-inspired simple and modern SVG charts for the web with zero dependencies.</p>
	</section>
	<figure id="line-composite-1" class="border"></figure>
	<p class="demo-tip">Click or use arrow keys to navigate data points</p>
	<figure id="bar-composite-1" class="border"></figure>
</header>

<section class="section-padding text-center">
	<a class ="btn btn-dark" href="https://github.com/frappe/charts/archive/master.zip">
		Download</a>
	<p class="mt-2">
		<a href="https://github.com/frappe/charts" target="_blank">View on GitHub</a></p>
	<p class='text-muted'>License: MIT</p>

	<script async src="https://static.codepen.io/assets/embed/ei.js"></script>
	<script src="/charts/index.min.js"></script>
</section>

{% endblock %}