{% extends "frappe_io/www/gantt/gantt_base.html" %}
{% block title %}Frappe: Frameworks + Apps{% endblock %}
{% block content %}
<link type="text/css" rel="stylesheet" href="/gantt/css/index.css">

<section class="top-section">
	<div class='container'>
    <h1>Open Source Javascript Gantt</h1>
    <p class="lead">
		A simple, interactive, modern gantt chart library for the web with drag, resize, dependencies and time scales</p>
	<div class="gantt-container mt-5" style="overflow: scroll">
	<svg id="gantt-1"></svg>
	</div>
    <p class="mt-1"><strong>Try it!</strong> Drag tasks across the timeline, resize to change duration, click to view more information</p>
	</div>
</section>

<section class="section-padding section-bg">
	<div class='container'>
	<h3>Installation</h3>
    <pre>
      <code class="hljs">npm install frappe-gantt</code>
    </pre>
	<h3>Usage</h3>
    <h6 class="text-muted" style="margin: 1em 0 0 0; font-weight: normal;">
      Dependencies: <a target="_blank" href="http://momentjs.com">momentjs</a> and <a target="_blank" href="http://snapsvg.io">snapsvg</a>
    </h6>
				<h6 style="margin:2em 0 0 0">
      Include it in your html
    </h6>
    <pre>
      <code class="hljs html">&lt;script src="frappe-gantt.min.js" /&gt;</code>
    </pre>
				<h6 style="margin:0">Create an svg element</h6>
    <pre>
      <code class="hljs html">&lt;svg id="gantt"&gt;&lt;/svg&gt;</code>
    </pre>
				<h6 style="margin:0">Initiliaze a new Gantt object</h6>
    <pre>
      <code class="hljs javascript">var tasks = [
  {
    id: 'Task 1',
    name: 'Redesign website',
    start: '2016-12-28',
    end: '2016-12-31',
    progress: 20,
    dependencies: 'Task 2, Task 3'
  },
  ...
]
var gantt = new Gantt("#gantt", tasks);
</code>
	</pre>
	</div>
</section>

<section class="section-padding">
	<div class='container'>
	<h3>Change view mode</h3>
    <!-- Change view mode -->
    <pre>
      <code class="hljs javascript">gantt.change_view_mode('Week') // Quarter Day, Half Day, Day, Week, Month </code>
    </pre>
    <div class="gantt-container" style="overflow: scroll; margin-top: -36px">
      <svg id="gantt-2"></svg>
    </div>
    <div class="btn-group mt-3 mx-auto" role="group">
      <button type="button" class="btn btn-sm btn-light">Quarter Day</button>
      <button type="button" class="btn btn-sm btn-light">Half Day</button>
      <button type="button" class="btn btn-sm btn-light">Day</button>
      <button type="button" class="btn btn-sm btn-light active">Week</button>
      <button type="button" class="btn btn-sm btn-light">Month</button>
    </div>
	</div>
</section>

<section class="section-padding section-bg">
	<div class='container'>
    <!-- Add event listeners -->
    <h3>Add event listeners</h3>
    <pre>
      <code class="hljs javascript">var gantt = new Gantt('#gantt', tasks, {
    on_click: function (task) {
        console.log(task);
    },
    on_date_change: function(task, start, end) {
        console.log(task, start, end);
    },
    on_progress_change: function(task, progress) {
        console.log(task, progress);
    },
    on_view_change: function(mode) {
        console.log(mode);
    }
});</code>
    </pre>
    <div class="gantt-container" style="overflow: scroll; margin-top: -36px">
      <svg id="gantt-3"></svg>
    </div>
	</div>
</section>

<section class="section-padding">
	<div class='container'>
    <!-- Custom HTML in popup -->
    <h3>Custom HTML in popup</h3>
    <pre>
      <code class="hljs javascript">var gantt = new Gantt('#gantt', tasks, {
    // can be a function that returns html
    // or a simple html string
    custom_popup_html: function(task) {
      // the task object will contain the updated
      // dates and progress value
      const end_date = task._end.format('MMM D');
      return `
        &lt;div class="details-container">
          &lt;h5>${task.name}&lt;/h5>
          &lt;p>Expected to finish by ${end_date}&lt;/p>
          &lt;p>${task.progress}% completed!&lt;/p>
        &lt;/div>
      `;
    }
});</code>
    </pre>
    <div class="gantt-container" style="overflow: scroll; margin-top: -36px">
      <svg id="gantt-4"></svg>
    </div>
	</div>
</section>

<section class="section-padding text-center section-bg">
	<div class='container'>
	<a class ="btn btn-dark" href="https://github.com/frappe/gantt/archive/master.zip">
		Download</a>
	<p class="mt-3">
		<a href="https://github.com/frappe/gantt" target="_blank">View on GitHub</a></p>
	<p class='text-muted'>License: MIT</p>
	</div>
</section>
<script src="/gantt/js/moment.min.js"></script>
<script src="/gantt/js/snap.svg-min.js"></script>
<script src="/gantt/js/frappe-gantt.min.js"></script>
<!-- jquery not required by frappe-gantt -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	crossorigin="anonymous"></script>
<script src="/gantt/js/index.js"></script>
{% endblock %}