.app-list {
	max-width: 660px;
	margin: auto;
}

.app-row {
	margin: 50px 0px;
}

.app-row-link, .app-row-link * {
	text-decoration: none !important;
	color: inherit;
}

.app-row-link:hover {
	background-color: #fafbfc;
}

.app-body {
	margin-left: 50px;
}

.app-body h4 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.app-body p {
	margin-top: 0px;
}

.app-icon {
	float: left;
}

.app-list .octicon {
	background-color: #f5f7fa;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	display: inline-block;
	text-align: center;
	padding-top: 7px;
	margin-right: 7px;
}

.app-list .mega-octicon.octicon-beaker {
	padding-left: 3px;
}
