<!-- no-cache -->
<div class="hero-content text-center" style="margin-top: 30px; margin-bottom: 90px; font-size: 20px;">
    <h1>Apps built on Frappé Framework</h1>
</div>

<div class='app-list'>
    {% for app in apps %}
    <a href="{{ app.url }}" class="app-row-link">
    <div class="app-row">
        <div class='app-icon'>
            {% if app.category == "Domains" %}
            <span class="octicon octicon-repo"></span>
            {% elif app.category == "Integrations" %}
            <span class="octicon octicon-plug"></span>
            {% elif app.category == "Developer Tools" %}
            <span class="octicon octicon-tools"></span>
            {% else %}
            <span class="octicon octicon-beaker"></span>
            {% endif %}
        </div>
        <div class="app-body">
            <span class="label label-{{ "warning" if app.badge=="Official" else "primary" }} pull-right" style='margin-top: 10px;'>{{ app.badge }}</span>
            <h4>{{ app.title }}</h4>
            <p class="text-muted">{{ app.description }}</p>
        </div>
    </div>
    </a>
    {% endfor %}
</div>
