{% extends "templates/base.html" %}
{% from "frappe_theme/templates/includes/card_grid.html" import card_grid %}

{% block title %}Contact Us{% endblock %}

{% block content %}

<section class='section-padding'>
	<div class='container text-center'>
		<h1>Get in Touch</h1>
		<p class='lead pb-4'>Want to write to us or have a question or comment? Write in, we would love to hear from you.</p>
	</div>
</section>

<section class='section-padding section-bg'>
	<div class='container'>
		<div class='row'>
			<div class="col-sm-6 mx-auto" id="contact">
				<h4>Write to Us</h4>
				<p>Fill this form and we’ll write back as soon as we can.</p>
				<div class='text-muted mt-3'>Subject</div>
				<input class="form-control" type="text" name="subject">
				<div class='text-muted mt-3'>Your email</div>
				<input class="form-control" type="text" name="email">
				<div class='text-muted mt-3'>Message</div>
				<textarea class="form-control" name="message" style="height: 200px;"></textarea>
				<a href=# id="send" class="btn btn-dark btn-send form-control mt-4">Send</a>
			</div>
		</div>
	</div>
</section>

<section class="section-padding">
	<div class='container'>
		{{ card_grid(
			"Contact Details",
			"Phone, Office Address and Social Media",
			[
				{
					"title": "Phone",
					"content": "<small>Skype: <a href='skype:erpnext?call'>ERPNext</a><br>
					US: <a href='tel:+1-209-813-4824'>+1 209 813 4824</a><br>
					India: <a href='tel:+912248970555'>+91 22 4897 0555</a><br>
					UK: <a href='tel:+44 29 2254 0018'>+44 29 2254 0018</a></small>"
				},
				{
					"title": "Address",
					"content": address
				},
				{
					"title": "Social",
					"content": "<small>Twitter: <a href='https://twitter.com/erpnext' target='_blank'>@erpnext</a><br>
						LinkedIn: <a href='https://in.linkedin.com/company/frappe-tech' target='_blank'>Frappe Technologies</a><br>
						Facebook: <a href='https://www.facebook.com/ERPNext/' target='_blank'>ERPNext Page</a><br>
						Medium: <a href='https://medium.com/frapp%C3%A9-thoughts' target='_blank'>Frappe Thoughts</a></small>"
				}
			])
		}}
	</div>
</section>

<style>
	.contact p {
		font-size: 16px;
	}
	@media (max-width: 577px) {
		.person img {
			max-width: 240px;
		}
	}

	.person a {
		text-decoration: none;
	}
</style>

<script>
	{% include "templates/includes/contact.js" %}
</script>
{% endblock %}
