{% extends "templates/base.html" %}
{% block title %}Frappe: Frameworks + Apps{% endblock %}
{% block content %}
<section class="top-section" style='padding-top: 4rem;'>
	<h1 style='font-size: 3.5rem;'>Frameworks + Apps</h1>
	<p class='lead'>We are a software engineering company that builds open source frameworks, applications and libraries.</p>
</section>

{% macro card(title, body, btnlabel, btnlink, badges) %}
<div class="col-sm">
	<a href="{{ btnlink }}" class="card mb-4">
	  <div class="card-body">
		<h5>{{ title }}</h5>
	    <p class="card-text">{{ body }}</p>
	    <!-- <a href="{{ btnlink }}" class="btn btn-dark btn-sm">{{ btnlabel }}</a> -->
	  </div>
		<div class='card-footer text-muted small'>
			{{ ', '.join(badges) }}
		</div>
	</a>
</div>
{% endmacro %}
<section class="section-padding px-3">
	<div class="row mt-5">
		{{ card(
			"ERPNext",
			"Fully featured, modern, easy-to-use 100% Open Source ERP.",
			"ERPNext.com",
			"/erpnext",
			["App", "Python", "JS"]
		) }}

		{{ card(
			"Frappe",
			"Python + JS based metadata driven, full-stack web-application framework.",
			"Documentation",
			"/frappe",
			["Framework", "Python", "JS"]
		) }}

		{{ card(
			"Bench",
			"CLI to setup, deploy, manage multiple Frappe / ERPNext instances.",
			"ERPNext.com",
			"/bench",
			["CLI", "Python"]
		) }}
	</div>

	<div class="row">
		{{ card(
			"Gantt",
			"Open source, fully featured, SVG based Javascript Gantt library.",
			"ERPNext.com",
			"/gantt",
			["Lib", "JS"]
		) }}

		{{ card(
			"Charts",
			"Open source, extensible, GitHub inspired SVG based Charting library.",
			"ERPNext.com",
			"/charts",
			["Lib", "JS"]
		) }}

		{{ card(
			"DataTable",
			"Missing open source Javascript based Datatable built for the web.",
			"ERPNext.com",
			"/datatable",
			["Lib", "JS"]
		) }}

	</div>

</section>
{% endblock %}
