{% extends "templates/base.html" %}
{% block title %}Frappe: Frameworks + Apps{% endblock %}
{% block content %}
<!-- <section class='section-padding splash'
	style='background-image: url(/assets/frappe_io/images/landing-pages/get-doc.png)'>
</section> -->
<section class="top-section">
	<div class='container'>
	<h1>Publisher of ERPNext<br> World's Top Open Source ERP</h1>
	<p class='lead pb-4'>We are a Mumbai based software engineering company that builds open source frameworks, applications and libraries.</p>

{% macro card(title, body, btnlabel, btnlink, badges) %}
<div class="col-sm mb-4 text-left">
	<a href="{{ btnlink }}" class="card h-100">
	  <div class="card-body">
		<h5>{{ title }}</h5>
	    <div class="card-text">{{ body }}</div>
	    <!-- <a href="{{ btnlink }}" class="btn btn-dark btn-sm">{{ btnlabel }}</a> -->
	  </div>
	</a>
</div>
{% endmacro %}
	<div class="row mt-5">
		{{ card(
			"ERPNext",
			"Fully featured, modern, easy-to-use 100% Open Source ERP.",
			"ERPNext.com",
			"/erpnext",
			["App", "Python", "JS"]
		) }}

		{{ card(
			"Frappe",
			"Python + JS based metadata driven, full-stack web-application framework.",
			"Documentation",
			"/frappe",
			["Framework", "Python", "JS"]
		) }}

		{{
			card(
				"Accounting",
				"Offline Accounting software for everyone, with Invoicing, Payments and Reports.",
				"ERPNext.com",
				"/accounting",
				["App", "JS"]
			)
		}}

	</div>

	<div class="row">
		{{ card(
			"Gantt",
			"Open source, fully featured, SVG based Javascript Gantt library.",
			"ERPNext.com",
			"/gantt",
			["Lib", "JS"]
		) }}

		{{ card(
			"Charts",
			"Open source, extensible, GitHub inspired SVG based Charting library.",
			"ERPNext.com",
			"/charts",
			["Lib", "JS"]
		) }}

		{{ card(
			"DataTable",
			"Missing open source Javascript based Datatable built for the web.",
			"ERPNext.com",
			"/datatable",
			["Lib", "JS"]
		) }}
	</div>
	<div class="row">
		{{
			card(
				"FrappeJS",
				"Node + Electron + Vue based metadata web framework with admin interface. ",
				"ERPNext.com",
				"/frappejs",
				["Framework", "JS"]
			)
		}}
		{{ card(
			"Bench",
			"CLI to setup, deploy, manage multiple Frappe / ERPNext instances.",
			"ERPNext.com",
			"/bench",
			["CLI", "Python"]
		) }}
		{{
			card(
				"Marketplace",
				"Free platform to publish items and get discovered by users on the marketplace",
				"ERPNext.com",
				"/marketplace",
				["App", "Python"]
			)
		}}
	</div>
	</div>

</section>
<section class='section-padding text-center'>
	<div class='container'>
		<h3>A Community, Not Just a Company</h3>
		<p class='lead'>At Frappe, we are true believers of Open Source and actively work with communities to share our knowledge.</p>
		<img src='/assets/frappe_io/images/pictures/team-1.png' class='greyscale mt-5'>
		<p class='mt-5 lead text-muted'>We are always looking for great people to join our team</p>
		<a class='btn btn-dark mt-4' href='/careers'>Apply for a Job</a>
	</div>
</section>
{% endblock %}
