<footer class=" text-center border-top">
    <div class="row mt-4">
        <div class="col-xs-12 col-sm-12">
            <ul class="list-inline list-unstyled">
                <li class="list-inline-item px-2">
                    <a href="https://erpnext.com">ERPNext</a>
                </li>
                <li class="list-inline-item px-2">
                    <a href="https://frappe.io">Frappe</a>
                </li>
                <li class="list-inline-item px-2">
                    <a href="https://frappe.io/blog">Blog</a>
                </li>
                <li class="list-inline-item px-2">
                    <a href="https://erpnext.com/reseller">Reseller</a>
                </li>
                <li class="list-inline-item px-2">
                    <a href="https://discuss.erpnext.com">Forum</a>
                </li>
                <li class="list-inline-item px-2">
                    <a href="https://github.com/frappe">GitHub</a>
                </li>
                <li class="list-inline-item px-2">
                    <a href="https://erpnext.com/mobile">Mobile Apps</a>
                </li>
                <li class="list-inline-item px-2">
                    <a href="https://frappe.io/about">About</a>
                </li>
                <li class="list-inline-item px-2">
                    <a href="https://frappe.io/about#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="social">
        <p>Find us on
            <a class="underline" href="https://twitter.com/erpnext"
                target="_blank">Twitter</a>,
            <a class="underline" href="https://www.facebook.com/ERPNext/"
                target="_blank">Facebook</a>,
            <a class="underline" href="https://medium.com/frappe-thoughts/"
                target="_blank">Medium</a>
        </p>
    </div>

    <div class="text-muted">
        <p>
            &copy;<span id="year"></span> Frappe Technologies Pvt. Ltd.
            Content licensed under
            <a class="underline" href="https://creativecommons.org/licenses/by-sa/3.0/" target="_blank">
                CC-BY-SA 3.0</a>. Read the <a href="https://erpnext.com/terms" class="underline">terms of use</a>.
        </p>
    </div>
</footer>
<!--Javascript-->
<script src="/assets/frappe_theme/js/main.js"></script>

