<footer>
    <div class="container">
        <div class="clearfix">
            <div class="col-xs-12">
                <ul class="list-unstyled footer-list inline">
                    <li>
                        <a href="https://erpnext.com">ERPNext</a>
                    </li>
                    <li>
                        <a href="https://frappe.io">Frappé</a>
                    </li>
                    <li>
                        <a href="https://frappe.io/blog">Blog</a>
                    </li>
                    <li>
                        <a href="https://erpnext.com/reseller">Reseller</a>
                    </li>
                    <li>
                        <a href="https://discuss.erpnext.com">Forum</a>
                    </li>
                    <li>
                        <a href="https://github.com/frappe">GitHub</a>
                    </li>
                        <li>
                        <a href="https://erpnext.com/mobile">Mobile Apps</a>
                    </li>
                    <li>
                        <a href="https://frappe.io/about">About</a>
                    </li>
                    <li>
                        <a href="https://frappe.io/about#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="social">
            <p>Find us on
                <a class="underline" href="https://twitter.com/erpnext"
                    target="_blank">Twitter</a>,
                <a class="underline" href="https://www.facebook.com/ERPNext/"
                    target="_blank">Facebook</a>,
                <a class="underline" href="https://medium.com/frappé-thoughts/"
                    target="_blank">Medium</a>
            </p>
        </div>

        <div class="copyright">
            <p>
                &copy;<span id="year"></span> Frappé Technologies Pvt. Ltd.
                Content licensed under
                <a class="underline" href="https://creativecommons.org/licenses/by-sa/3.0/" target="_blank">
                    CC-BY-SA 3.0</a>. Read the <a href="https://erpnext.com/terms" class="underline">terms of use</a>.
            </p>
        </div>
    </div>
</footer>
<!--Javascript-->
<script src="/assets/frappe_theme/js/main.js"></script>

