{% extends "frappe_io/www/datatable/datatable_base.html" %}
{% block title %}Frappe DataTable - A simple, modern datatable library for the web{% endblock %}
{% block content %}
<link href="//unpkg.com/frappe-datatable/dist/frappe-datatable.min.css" rel="stylesheet" />
<link href="datatable/assets/index.css" rel="stylesheet">
<section class='top-section'>
	<div class="container">
		<h1>Fast, Feature Rich Javascript Datatable</h1>
		<p class="lead">A simple, modern and interactive datatable for the web</p>
		<button class="btn btn-dark mt-3"><a class="text-light no-decoration" href="datatable/docs">Documentation</a></button>
		<div class="example-1 mt-5"></div>
	</div>
</section>
<section class='section-padding section-bg'>
	<div class="container">
		<h3>Installation</h3>
		<div class="code">
		<pre><code class="hljs bash"># Install using yarn
yarn add frappe-datatable

# or npm
npm install frappe-datatable</code></pre>
	</div>
</section>

<section class="section-padding">
	<div class='container'>
		<h3>Usage</h3>
		<div class="code">
		<pre><code class="hljs javascript">import DataTable from 'frappe-datatable';

// or add
// &lt;script src="frappe-datatable.js" &gt;&lt;/script&gt;
// in your html

let datatable = new DataTable({
	columns: ['Name', 'Position', 'Department'],
	data: [
		['Tiger Nixon', 'System Architect', 'Tech'],
		['Garrett Winters', 'Accountant', '']
	]
});</code></pre>
    </div>
    </div>
</section>

<section class='section-padding section-bg'>
	<div class='container'>
		<h3>Features</h3>
		<div class="features">
			<ul>
				<li>Custom Formatters</li>
				<li>Inline Editing</li>
				<li>Mouse Selection</li>
				<li>Copy Cells</li>
				<li>Keyboard Navigation</li>
				<li>Custom Cell Editor</li>
			</ul>
			<ul>
				<li>Reorder Columns</li>
				<li>Sort by Column</li>
				<li>Remove / Hide Column</li>
				<li>Custom Actions</li>
				<li>Resize Column</li>
				<li>Flexible Layout</li>
			</ul>
			<ul>
				<li>Row Selection</li>
				<li>Tree Structured Rows</li>
				<li>Inline Filters</li>
				<li>Large Number of Rows</li>
				<li>Dynamic Row Height</li>
				<li>Theme Support</li>
			</ul>
		</div>
		<img class="mt-2" src="https://user-images.githubusercontent.com/9355208/40740030-5412aa40-6465-11e8-8542-b0247ab1daac.gif" alt="DataTable Features Demo">
	</div>
</section>

<div class="section-padding">
	<div class="container">
		<h3>Simple Demo</h3>
		<div class="demo-target-1"></div>
	</div>
</div>
<div class="section-padding">
	<div class="container">
		<h3>Custom Column Formatter</h3>
		<div class="demo-target-2"></div>
	</div>
</div>
<div class="section-padding">
	<div class="container">
		<h3>Tree View</h3>
		<div class="demo-target-3"></div>
	</div>
</div>
<div class="section-padding">
	<div class="container">
		<h3>Themes</h3>
		<div class="demo-target-4"></div>
		<div class="btn-group theme-buttons mt-2" role="group" aria-label="Theme Buttons">
			<button type="button" class="btn btn-secondary" data-theme="light">Light</button>
			<button type="button" class="btn btn-secondary" data-theme="dark">Dark</button>
		</div>
		<template id="dark-theme-style-template">
			<style id="dark-theme-style">
				.example-5 .datatable {
					--dt-border-color: #424242;
					--dt-light-bg: #2e3538;
					--dt-text-color: #dfe2e5;
					--dt-text-light: #dfe2e5;
					--dt-cell-bg: #1c1f20;
					--dt-focus-border-width: 1px;
					--dt-selection-highlight-color: var(--dt-light-bg);
					--dt-toast-message-border: 1px solid var(--dt-border-color);
					--dt-header-cell-bg: #262c2e;
				}
			</style>
		</template>
		<style>
			.demo-target-4 .code {
				display: none;
			}
		</style>
		<script>
			frappe.ready(() => {

				document.querySelector('.theme-buttons').addEventListener('click', e => {
					const { theme } = e.target.dataset;

					['light', 'dark'].forEach(t => {
						const btn = document.querySelector(`[data-theme="${t}"]`);
						if (theme === t) {
							!btn.classList.contains('active') &&
							btn.classList.add('active');
						} else {
							btn.classList.contains('active') &&
							btn.classList.remove('active');
						}
					})

					if (theme === 'dark') {
						e.target.classList.add('active');
						applyDarkTheme();
					} else if (theme === 'light') {
						removeDarkTheme();
					}
				});

				setTimeout(() => {
					document.querySelector('[data-theme=dark]').click();
				}, 500);

				function applyDarkTheme() {
					const t = document.querySelector('#dark-theme-style-template');
					const style = document.importNode(t.content, true);
					document.head.appendChild(style);
					style.onload = () => datatableThemed.setDimensions();
				}

				function removeDarkTheme() {
					document.head.querySelector('#dark-theme-style').remove();
					setTimeout(() => datatableThemed.setDimensions(), 100);
				}
			})
		</script>
	</div>
</div>
<script>
	frappe.ready(() => {
		makeDemo('.demo-target-1', `
let dt = new DataTable('.example-2', {
	columns: ['Framework', 'Built By', 'GitHub Stars', 'Project Link'],
	data: [
		['React', 'Facebook', 105773, 'https://github.com/facebook/react'],
		['Angular', 'Google', 38153, 'https://github.com/angular/angular'],
		['Vue', 'Evan You', 106640, 'https://github.com/vuejs/vue'],
		['Stencil', 'Ionic Team', 3238, 'https://github.com/ionic-team/stencil'],
	]
});`);

		makeDemo('.demo-target-2', `
let dt = new DataTable('.example-3', {
	columns: [
		{ name: 'Framework' },
		{ name: 'Built By' },
		{ name: 'GitHub Stars' },
		{ name: 'Project Link', format: value => \`<a class="text-primary" href="\${value}">\${value}</a>\` }
	],
	data: [
		['React', 'Facebook', 105773, 'https://github.com/facebook/react'],
		['Angular', 'Google', 38153, 'https://github.com/angular/angular'],
		['Vue', 'Evan You', 106640, 'https://github.com/vuejs/vue'],
		['Stencil', 'Ionic Team', 3238, 'https://github.com/ionic-team/stencil'],
	]
});`);

		makeDemo('.demo-target-3', `
let dt = new DataTable('.example-4', {
	columns: [
		{ name: 'Files', width: 300, format: formatFileName },
		{ name: 'Size', width: 150, align: 'right' },
		{ name: 'Last Updated', width: 200, align: 'right' },
	],
	data: [
		{
			'Files': 'Documents',
			'Size': '2M',
			'Last Updated': '',
			'indent': 0
		},
		{
			'Files': 'project.pdf',
			'Size': '1M',
			'Last Updated': 'Yesterday',
			'indent': 1
		},
		{
			'Files': 'my-face.png',
			'Size': '500k',
			'Last Updated': '2018-04-09',
			'indent': 1
		},
		{
			'Files': 'Projects',
			'Size': '77M',
			'Last Updated': '',
			'indent': 0
		},
		{
			'Files': 'frappe-gantt',
			'Size': '23M',
			'Last Updated': '',
			'indent': 1
		},
		{
			'Files': 'dist',
			'Size': '50k',
			'Last Updated': '2018-06-01',
			'indent': 2
		},
		{
			'Files': 'package.json',
			'Size': '5k',
			'Last Updated': '2018-06-01',
			'indent': 2
		},
		{
			'Files': 'frappe-datatable',
			'Size': '54M',
			'Last Updated': '',
			'indent': 1
		},
		{
			'Files': 'src',
			'Size': '53k',
			'Last Updated': 'A few seconds ago',
			'indent': 2
		},
	],
	treeView: true
});`);

		makeDemo('.demo-target-4', `
window.datatableThemed = new DataTable('.example-5', {
	columns: ['Framework', 'Built By', 'GitHub Stars', 'Project Link'],
	data: [
		['React', 'Facebook', 105773, 'https://github.com/facebook/react'],
		['Angular', 'Google', 38153, 'https://github.com/angular/angular'],
		['Vue', 'Evan You', 106640, 'https://github.com/vuejs/vue'],
		['Stencil', 'Ionic Team', 3238, 'https://github.com/ionic-team/stencil'],
	]
});`);


	});
</script>

<section class="section-padding section-bg">
	<div class='container'>
	<h3>List of configurable options</h3>
	<div class="code">
		<pre><code class="hljs javascript">{
    columns: [],
    data: [],
    dropdownButton: '▼',
    headerDropdown: [
        {
            label: 'Custom Action',
            action: function (column) {
                // custom action
            }
        }
    ],
    events: {
        onRemoveColumn(column) {},
        onSwitchColumn(column1, column2) {},
        onSortColumn(column) {},
        onCheckRow(row) {}
    },
    sortIndicator: {
        asc: '↑',
        desc: '↓',
        none: ''
    },
    freezeMessage: '',
    getEditor: null,
    serialNoColumn: true,
    checkboxColumn: false,
    logs: false,
    layout: 'fixed', // fixed, fluid, ratio
    noDataMessage: 'No Data',
    cellHeight: null,
    inlineFilters: false,
    treeView: false,
    checkedRowStatus: true,
    dynamicRowHeight: false,
    pasteFromClipboard: false
};
</code></pre>
	</div>
	</div>
</section>

<section class='section-padding'>
	<div class='container text-center'>
	<a class ="btn btn-dark mr-3" href="/datatable/docs/getting-started">
		Get Started</a>
	<a class ="btn btn-secondary" href="https://github.com/frappe/datatable/archive/master.zip">
		Download</a>
	<p class="mt-3">
		<a href="https://github.com/frappe/datatable" target="_blank">View on GitHub</a></p>
	<p class='text-muted'>License: MIT</p>
	</div>
</section>

<script src="//unpkg.com/sortablejs@1.7.0/Sortable.min.js"></script>
<script src="//unpkg.com/frappe-datatable/dist/frappe-datatable.min.js"></script>
<script src="datatable/assets/index.js"></script>
{% endblock %}
